<!-- templates/edit_note.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Note</title>
</head>
<body>
    <h1>Edit Note</h1>

    <form action="{{ url_for('views.edit_note', note_id=note.id) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="data">Content:</label><br>
        <textarea id="data" name="data" rows="10" cols="50">{{ note.data }}</textarea><br><br>
        
        <button type="submit">Update Note</button>
    </form>

    <a href="{{ url_for('auth.profile') }}">Cancel</a>
</body>
</html>

