{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
<title>Home</title>
</head>
<body>
    
    <p>Welcome, {{ user.first_name }}!</p>
    <p>Email: {{ user.email }}</p>
   
    <form method="POST">
        <label for="publicpost">Add a new public post:</label>
        <textarea id="publicpost" name="publicpost" rows="4" cols="50"></textarea><br>
        <button type="submit">Add public post</button>
    </form>

    <ul>
        {% if user.public_notes %}
            {% for public_note in user.public_notes %}
                <li>{{ public_note.content }} (Posted by: {{ user.first_name }})
                    <button type="button" class="delete" onClick="deletePublicPost({{ public_note.id }})">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </li>
            {% endfor %}
        {% else %}
            <li>No public posts found.</li>
        {% endif %}
    </ul>
</body>
</html>





{% endblock %}